@import url("https://fonts.googleapis.com/css?family=Varela+Round");

body {
    font-family: 'Varela Round', sans-serif;
    background: #1f2427;
    color: rgb(162,229,166);
    font-size: 20px;
    /* text-align: center */
}
/* container */
.document{
    width: 400px;
    background: #353c41;
    padding:  10px;
    border-radius: 10px;
    margin: 0 auto
}
/* elements done */
.doneToDo{
    color: grey;
    text-decoration:  line-through
}
.date{
    color: grey;
    font-size: 0.5em;
    text-decoration: none !important
}
.textInput{
    background: #1f2427;
    color: white;
    font-size: 1.1em;
    display: inline-block;
    width: 80%;
    border: 10px;
    padding: 10px 0;
    border-radius: 10px;
    text-align: center
}

.textInput:focus{
    box-shadow: 1px 1px 10px 5px rgba(204, 224, 20, 0.3);
}
.allInput{
    margin: 20px 0;
    background:  #353c41;
}
.buttonAdd{
    background: #1f2427;
    /* color: rgb(0, 174, 255); */
    color: rgb(162,229,166);
    border: 0px;
    font-size: 1.1em;
    display: inline-block;
    width: 19%;
    cursor: pointer;
    padding: 10px 0;
    margin-left: 2px;
    border-radius: 10px;
}
.buttonAdd:hover{
    background: #a2e5a6;
    color: #000
}
/* all divs with paragraph */
div > div{
    word-wrap: break-word;
    background: #4b5963;
    margin: 10px 0 0 0;
    border-radius: 10px;
    /* cursor: pointer; */
    position: relative;
}
p {
    margin: 0 auto;
    padding: 10px;
    cursor: pointer;
    /* width: 75%; */
    width: 97%;
    display: inline-block;
}
/* header */
h1{
    text-align: center;
    color: #ffff;
    
}
footer{
    margin-top: 10px;
    color:red;
}

/* nav-> button */
nav > div{
    margin: 10px 0 0 0;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    text-align: center;
}

.styleBtnDownload, .styleBtnDelete{
    display: inline-block;
    width: 47%;
    padding: 5px 0;
    margin: 5px
}
.styleBtnDownload{
    background-color: rgb(89,96,174)
}
.styleBtnDelete{
    background-color: rgb(202,89,89);
}

.saveTask{
    background: url("../images/dysk.png");
    bottom: 10px;
    right: 5px
}
.deleteTask{
    background: url("../images/delete2.png");
    bottom: 10px;
    right: 30px
}
.saveTask , .deleteTask, .info-saved{
    display: inline-block;
    width: 8%;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    cursor: pointer;
    position: absolute;
}

.deleteTask:hover{
    background: url("../images/deleteReverse.png");
}
.saveTask:hover{
    background: url("../images/dyskReverse.png");

}
.deleteTask:hover, .saveTask:hover, .info-saved:hover{
    display: inline-block;
    width: 8%;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    cursor: pointer;
}
.info-saved{
    width: 8%;
    color: white;
    text-align: center;
    font-size: 9px;
    bottom: 10px;
    right: 5px;
    margin: auto auto
}
.info-saved:hover{
    color: white;
    cursor: context-menu;
}
